/* =======================================================================================
                                Common css start
======================================================================================= */
* {
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 1140px;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

ul,ol {
    list-style: none;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

:root{
    --font_raleway: 'Raleway', sans-serif;
    --color_a: #FF3E54;
    --color_b: #0E1F51;
}

.sub_button{
    padding: 9px 18px;
    background: var(--color_a);
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid var(--color_a);
    transition: all .4s linear;
}

.sub_button:hover{
    background: transparent;
    color: var(--color_a);
    border: 1px solid var(--color_a);
}

.title{
    text-align: center;
}

.title h2{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: var(--color_a);
    margin-bottom: 10px;
}

.title h1{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    color: var(--color_b);
    margin-bottom: 40px;
}

/* =======================================================================================
                                Common css end
======================================================================================= */
/* =======================================================================================
                                Navbar css start
======================================================================================= */
.navbar{
    padding: 28px 0;
}

.navbar .navbar-nav .nav-item .nav-link {
	font-family: var(--font_raleway);
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: var(--color_b);
	padding: 5px 10px;
	margin-right: 25px;
	transition: all .3s linear;
    position: relative;
}

.navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    height: 4px;
	width: 0;
    background: var(--color_a);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .2s linear;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	color: var(--color_a);
}

.navbar .navbar-nav .nav-item .nav-link:hover::after {
	color: var(--color_a);
    width: 100%;
}

.navbar .navbar-nav .nav-item:last-child{
    margin-right: 20px;
}
/* =======================================================================================
                                Navbar css end
======================================================================================= */
/* =======================================================================================
                                Heading_banner css start
======================================================================================= */
#heading_banner{
    width: 100%;
    padding: 100px 0;
    background: var(--color_b);
}

#heading_banner .text{
    text-align: center;
}

#heading_banner .text h2{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: var(--color_a);
    margin-bottom: 10px;
}

#heading_banner .text h3{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
}
/* =======================================================================================
                                Heading_banner css end
======================================================================================= */
/* =======================================================================================
                                About_part css start
======================================================================================= */
#about_part{
    background: #F7F7F7;
    padding: 100px 0;
}

#about_part .left .image img {
	border-radius: 14px;
	width: 100%;
}

#about_part .title{
    text-align: left;
}

#about_part .title h1{
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 50px;
}

#about_part .title p{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    width: 500px;
    margin-bottom: 30px;
}

#about_part .customer {
    padding: 15px 145px 15px 15px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#about_part .customer .image{
    padding: 15px 17px;
    border-radius: 10px;
    background: #F7F7F7;
    display: inline-block;
    margin-right: 15px;
}

#about_part .customer .text h3{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--color_b);
}

#about_part .customer .text p{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: 10px;
}

#about_part .customer .text a{
    color: var(--color_a);
}
/* =======================================================================================
                                About_part css end
======================================================================================= */
/* =======================================================================================
                                Leaders part css start
======================================================================================= */
#leaders_part{
    background: #F7F7F7;
    padding: 100px 0;
}

#leaders_part .row_gap{
    row-gap: 50px;
}

#leaders_part .team_leader img{
    width: 100%;
    border-radius: 10px;
}

#leaders_part .team_leader .text{
    text-align: center;
}

#leaders_part .team_leader .text h3{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 30px 0 10px;
    color: var(--color_a);
}

#leaders_part .team_leader .text p{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color_b);
}
/* =======================================================================================
                                Leaders part css end
======================================================================================= */
/* =======================================================================================
                                Quote_banner css start
======================================================================================= */
#quote_banner{
    padding: 100px 0;
}

#quote_banner .banner{
    width: 945px;
    height: 295px;
    background: url(../images/home_page/quote_banner.jpg) no-repeat ;
    background-size: cover;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

#quote_banner .banner .overlay{
    background: rgba(14, 31, 81, .75);
    /* height: 100%;
    width: 100%; */
    padding: 60px 137px;
}

#quote_banner .banner .overlay .text{
    text-align: center;
}

#quote_banner .banner .overlay .text h3{
    margin-bottom: 30px;
    color: #F7F7F7;
    width: 675px;
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
}

#quote_banner .banner .overlay .text .sub_button:hover{
    background: rgba(255, 255, 255, 0.8);
}
/* =======================================================================================
                                Quote_banner css end
======================================================================================= */
/* =======================================================================================
                                Footer_part css start
======================================================================================= */
#footer_part{
    padding: 100px 0;
    background: var(--color_b);
}

#footer_part h2{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #F7F7F7;
    position: relative;
    margin-bottom: 35px;
}

#footer_part h2::before{
    content: '';
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: var(--color_a);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(20px);
}

#footer_part .follow_us p{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 20px 0 30px;
}

#footer_part .follow_us .icon{
    display: flex;
    justify-content: space-between;
}

#footer_part .follow_us .icon i{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: var(--color_a);
    background: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

#footer_part .services li a{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

#footer_part .career h2{
    margin-bottom: 55px;
}

#footer_part .career .dev{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#footer_part .career .dev i{
    width: 68px;
    height: 68px;
    border-radius: 10px;
    background: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 68px;
    color: var(--color_a);
    margin-right: 20px;
}

#footer_part .career .dev .text h3{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--color_a);
    margin-bottom: 10px;
}

#footer_part .career .dev .text p{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

#footer_part .subscribe p{
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 248px;
}

#footer_part .subscribe h2{
    margin-bottom: 55px;
}

#footer_part .subscribe form input{
    padding: 12px 0 12px 24px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-family: var(--font_raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin: 30px 0 20px;
}

#footer_part .subscribe form input:focus{
    outline: none;
}

#footer_part .subscribe form {
    text-align: right;
}

#footer_part .subscribe form .sub_button{
    padding: 12px 24px;
}

#footer_part .subscribe form .sub_button:hover{
    background: #fff;
}
/* =======================================================================================
                                Footer_part css end
======================================================================================= */